.rtfm {
  display: flex;
  flex-direction: column;
}

.rtfm-search {
  margin: 1rem 0;
}

.rtfm-search input {
  width: calc(100% - 1.4rem - 4px);
  border-radius: 0.3rem;
  padding: 0.7rem;
}

.rtfm-search-results {
  box-shadow: 0px 3px 3px 0px black;
}

.rtfm-content {
  display: flex;
}

.rtfm-component > ul {
  margin: 0;
  padding: 0;
}

.rtfm-component ul,
.rtfm-search ul {
  list-style-type: none;
  padding: 0;
}

.rtfm-component .rtfm-active {
  font-weight: bold;
}

.rtfm-page {
  padding-left: 4rem;
}

.rtfm-link-external:after {
  content: '↗️';
}
