<div class="rtfm">
  <div class="rtfm-search">
    <input type="search" placeholder="Search...">
    <div class="rtfm-search-results"></div>
  </div>
  <div class="rtfm-content">
    <div class="rtfm-component"></div>
    <div class="rtfm-page"></div>
  </div>
</div>

